[Desktop Entry]
Name=tbgui
Comment=TB-Profiler frontend
Type=Application
Icon=ch.uzh.michael.tbgui
Exec=tbgui %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
